/* RESET*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/*FIM RESET*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    background-color: #0cb7f2;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-image: url(./img/produtora.svg);
    background-size: 80px;
    height: 70px;
    width: 80px;
    background-repeat: no-repeat; 
   
}
.menu ul{
    display: flex;
    gap: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.conteudo p{
   width: 90%;
   font-size: 48px;
   font-style: inherit;
   font-weight: 100;
}
.acao{
    height: 90px;
    width: 300px;
    background-color: black;
    border-radius: 10vh;
    font-size: 60px;
    color: white;
    font-weight: 200;
}
.social div{
    height: 74px;
    width: 64px;
    border-radius: 50%;
}
.social{
   display: flex;
   justify-content: space-between;
}
.imagem{
    background-image: url("./img/album\ travis2.jpg");
    background-size: 1300px;
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat; 
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}